<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Chào mừng bạn đến với Bitcash!</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message" translateValues="{username: '{{account.login}}'}"> Bạn đang đăng nhập bằng tài khoản "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">Nếu bạn muốn </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">đăng nhập</a>
                <span jhiTranslate="global.messages.info.authenticated.suffix">, bạn có thể thử tài khoản mặc định:
                    <br/>- Administrator (tài khoản="admin" và mật khẩu="admin")
                    <br/>- User (tài khoản="user" và mật khẩu="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">Bạn chưa có tài khoản?</span>
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Đăng ký</a>
            </div>
        </div>
    </div>
</div>